#Archivos de conexion a la base de datos
Conexion/*
LAB/Reportes/ReporteTabulador/DBManager.php

#Omitiendo Reportes
Reportes/*.ods
Reportes/*.pdf
Reportes1/*.ods
Reportes1/*.pdf

#Archivos Thumbs
Thumbs.db

#Archivos de respaldo
*~
/nbproject/private/
