/* Salad CCSTheme */

.Label{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 20px;color:#990000; }
.titulo{ font-family: Tahoma, Verdana, Arial, Helvetica; font-size: 20px;color:#000000; }
.titulotabla{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 20px;color:#000000; }
.titulo2{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 20px;color:#FFFFFF; }
.titulo3{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 25px;color:#FFFFFF; }
.titulo4{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 17px;color:#00000; }
.Label2{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 16px;color:#000000; }
.Encabezado{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 25px;color:#990000; }
.Encabezado2{ font-family: Book Antiqua, Verdana, Arial, Helvetica; font-size: 18px;color:#000000; }
